# Ігнорувати файли даних
*.csv
*.xlsx

# Ігнорувати тимчасові файли Python
__pycache__/
*.pyc

# Ігнорувати файли IDE
.idea/
.vscode/

# Ігнорувати системні файли
.DS_Store
Thumbs.db

# Виняток для README.md
!README.md
